body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: #c1272d;
  font-family: Inter, sans-serif;
}

.everything{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  /* margin: 1em; */
}

.head{
  width: 100vw;
  height: 5vh;
  position: absolute;
  top:0;
  display: flex;
  font-size: 15pt;
  align-items: center;
  margin-top: 1.2em;
}

.hButt{
  margin: 2.5em;
}
.left{
  /* flex:1;   */
  display: flex;
  display: inline-flex;
  width: 50vw;
  position: absolute;
}
.right{
  flex:1;
  display: inline-flex;
  width: 50vw;
  position: absolute;
  right: 0;
  justify-content: right;
  /* padding-right: 1.5em; */
}

.name{
  text-align: right;
  font-weight:800;
  font-size: 20pt;
  margin: 1.7em;
  /* font-variant: 500; */
  /* font-style: bold; */
}

.intro{
  font-size: 26pt;
  padding:1.5em;
  position: fixed;
  width: 100vw;
  height: 60vh;
  background-color: white;
  opacity: 0;
  top:0;
}

#long{
  width:350px;
  height:600px;
  margin: 2.5em;
  /* right:0; */
  /* padding-right: 1em; */
  /* background-color: red; */
}
.smallp5{
  display: grid;
  height:650px;
  margin-top:2.5em;
  width:400px;
  /* grid-row:  */
  /* row-gap: 1em; */
}

.mainT{
  /* align-self: flex-end; */
}
.hi{
  width:100;
  font-weight:800;
  font-size: 50pt;
}

.hiText{
  font-size: 20pt;
  font-weight: 300;
}

.mainBody{
  margin: 2.5em;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 85vh;
  /* align-items: baseline; */
  /* text-align:  */
  /* justify-content: flex-end; */
  /* align-items: baseline; */
}
#catto{
  margin-top: 2.5em;
  /* border-color: #c1272d; */
  /* border-width:  50px; */
  /* background-color: #c1272d; */
  /* bottom:0; */
}
#short{
  padding-top: 0.3em;
  width:300px;
  height:300px;
  padding-bottom: 0.7em;
  border-color: #c1272d;

  /* margin: 1em; */
}
#text{
  color: #c1272d;
  /* font-family: "Cormorant Garamond", serif; */
  /* font-weight: bold; */
  opacity: 1;
  font-size: 20pt;
  padding:1.5em;
  margin-bottom: 2em;
  position: fixed;
  width: 50vw;
  height: 20vh;
  /* z-index: -; */
}

.rest{
  background-color: white;
  position:fixed;
  width:100vw;
  height: 20vh;
  bottom: 0;
  /* ali */
}

.projects{

}

.bee{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

a{
  text-decoration: none;
  color: #c1272d;
}
.img1{
  display: grid;
}

.img2{
  display: none;
}

@media (max-width: 700px){
.img1{
  display: none;
}

.img2{
  display: flex;
  flex:1;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hButt{
  margin: 1.5em;
}
.head{
  font-size: 10pt;
  /* position: fixed; */
}

.bottom{
  width: 100vw;
  bottom: 0;
  position: absolute;
}
.everything{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.middle{
  position: absolute;
  align-self: center;
  margin-left: 100px;
  width: 50vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  /* size:10%; */
}
.t{
  margin-top: 120px;
}
}
